body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(0, 48, 56);
    background: linear-gradient(180deg, rgba(0, 48, 56, 0.7539390756302521) 0%, rgba(0, 48, 56, 1) 100%);
    color: white;
}

.navbar {
    background-color: rgba(81, 201, 203, 0.5);
}

.navbar .nav-item a {
    color: white;
    font-size: 18px;
}

.navbar .nav-item a {
    color: white;
    font-size: 18px;
}

.navbar .nav-item.nav-item-15 a {
    color: white;
    font-size: 15px;
}

.navbar .nav-item a:hover,
.navbar .nav-item a:focus {
    transition: all 0.2s;
    font-weight: 600;
}

.img-custom {
    display: block;
    border-radius: 50%;
    object-fit: cover;
    margin: 15px auto;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
}

.navbar-toggler:focus {
    box-shadow: none;
    outline: white;
}

.img-custom:hover {
    transition: all 0.5s;
    border-radius: 15px;
}

.card {
    background: rgba(0, 0, 0, 0.1);
    border: none;
    text-align: center;
    max-width: 700px;
    margin: 20px auto;
}

h1 svg {
    transform: rotate(35deg);
}

h4 svg {
    margin-left: 15px;
}

h4.card-title {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.title-w-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title-w-img img {
    margin-left: 15px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

h1 {
    margin: 10px 0;
}

.card-body {
    padding: 50px 10px;
}

.header-img {
    position: relative;
}

.header-img img {
    height: 100%;
    width: 100%;
}

.header-img h1 {
    position: absolute;
    text-shadow: 2px 2px 5px black;
    font-size: 60px;
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
}

.header-img span {
    position: absolute;
    top: 80%;
    left: 50%;
    font-size: 20px;
    text-shadow: 2px 2px 5px black;
    transform: translate(-50%, -50%);
}
.experiences .card-body {
    padding: 5px;
}

img.card-img-top {
    max-height: 200px;
    object-fit: cover;
}